# Python
venv/
.venv/
env/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
*.tmp
*.temp

# Test files
test.*

# Authentification logic in absence of server config
auth.py
auth_utils.py

# Environment files
.env
.env.*

# Working Directory
user_workdir/

# Chroma database
db/

